@charset "utf-8";
/* CSS Document */

.views-view-css-grid .col {
  width:auto;
  float:left;
}
.views-view-css-grid .col.col-last {
  border-right:none;
}
.views-view-css-grid .col.empty {
  background-color:#CCC;
}
.views-view-css-grid .clearfix {
  clear:both;
}
.views-view-css-grid {
  width:auto;
}

.views-view-css-grid.cols-2 .col { width:50%; }
.views-view-css-grid.cols-3 .col { width:33%; }
.views-view-css-grid.cols-4 .col { width:25%; }
.views-view-css-grid.cols-5 .col { width:20%; }
.views-view-css-grid.cols-6 .col { width:16%; }